/*
1. Global
2. Header
3. Nav
4. Aside
5. Main
6. Footer
7. Media
*/


/* 1. Global */
html {
  box-sizing: border-box;
  font-size: calc(1vw + 0.6em);
}

body {
  margin: 0;

  font-family: Helvetica, Arial, sans-serif;
}

a:link {
  color: #1476bb;
  font-weight: bold;
  text-decoration: none;
}

a:visited {
  color: #1414bb;
}

a:hover {
  text-decoration: underline;
}

a:active {
  color: #b45514;
}


/* 2. Header */
.header {
  padding: 0.5em 1em;

  background: #fff;
}

.title > h1 {
  margin: .25em 0;

  color:#333;
  text-transform: uppercase;
  font-size: 1.5em;
}

.slogan {
  margin: 0;

  color: #888;
  font-size: .8em;
}


/* 3. Nav */
.menu {
  position: relative;
}

.menu-toggle {
  width: 1em;
  height: 1em;

  border:0;
  background-color: transparent;
  font-size: 3.1em;
  line-height: 0.4em;
  overflow: hidden;
  white-space: nowrap;
  text-indent: 5em;

  position: absolute;
  top: -1.2em;
  right: 0em;
}

.menu-toggle::after {
  display: block;
  content: "\2261";
  text-indent:0;

  position: absolute;
  top: 0.4em;
  left: 0.1em;
}

.menu-dropdown {
  display: none;
  margin: 0;

  position: absolute;
  right: 0;
  left: 0;
}

.menu.is-open .menu-dropdown {
  display: block;
}

.nav-menu {
  margin: 0;
  padding: 0;

  border: 1px solid #ccc;
  background: #000;
  color: #fff;
}

.nav-menu > li + li {
  border-top: 1px solid #ccc;
}

.nav-menu > li > a {
  display: block;
  padding: 0.7em 1em;

  color: #fff;
  font-weight: normal;
}


/* 4. Aside */
.hero {
  padding: 2em 1.5em;

  text-align: center;
  background: url(../img/coffee-beans-small.jpg);
  background-size: 100%;
  color: #fff;
  text-shadow: 0.1em 0.1em 0.3em #000;
}


/*5. Main*/
.main {
  padding: 1.2em;
}

.subtitle{
  margin-top: 1.2em;
  margin-bottom: 1.2em;

  font-size: 0.8em;
  text-transform: uppercase;
}


/* 6. Footer*/
.copyright {
  text-align: center;
}

.copyright a {
  color:#333;
  font-size: 13px;
}

.copyright a:hover {
  text-decoration: underline;
}


/* 7. Media */
/* для маленьких экранов */
@media (min-width: 560px) {
  .title > h1{
    font-size: 2.2rem;
  }

  .hero {
    padding: 5em 3em;
    font-size: 1.3rem;
  }

  .menu-toggle {
    display: none;
  }

  .menu-dropdown {
    display: block;
    position: static;
  }

  .nav-menu {
    display: flex;
    padding: 0 1em;
    border: 0;
    list-style-type: none;
  }

  .nav-menu > li {
    flex: 1;
  }

  .nav-menu > li + li {
    border: 0;
  }

  .nav-menu > li > a {
    padding: 0.3em;
    text-align: center;
  }

  .row {
    display: flex;
    margin-left: -.75em;
    margin-right: -.75em;
  }

  .column {
    margin-left: 0.75em;
    margin-right: 0.75em;
    flex: 1;
  }
}

/* для средних экранов */
@media (min-width: 35em) {
  .hero {
    padding: 5em 3em;
    font-size: 1.2rem;
    background: url(../img/coffee-beans-medium.jpg);
  }
}

/* для больших экранов */
@media (min-width: 50em) {
  html {
    font-size: 1.2em;
  }

  .header{
    padding: 1.2em 4em;
  }

  .hero {
    padding: 7em 5em;
    background: url(../img/coffee-beans.jpg);
  }

  .main {
    padding: 2em 4em;
  }
}
